{% extends "dashboard_template.html" %}
{% load static %}

{% block content_dashboard %}
<style>section{display: flex; position: relative; overflow: hidden;}</style>
<div class="d-flex flex-column border border-2 border-secondary-subtle rounded-2 w-100">
    {% if solicitudes %}
        asdasd
    {% else %}
    <div class="border border-2 border-secondary-subtle rounded-2 bg-secondary-subtle m-auto p-5 shadow">
        <h2 class="text-center">No hay solicitudes registradas</h2>
    </div>
    {% endif %}
        
</div>

<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cerrar</button>

{% endblock content_dashboard %}