<h4 class="text-center fw-semibold">Solicitud</h4>
<hr class="my-2">
<div>
    {% for key, item in solicitud %}
    <div class="d-flex justify-content-between align-items-center border-bottom py-2">
        <div>
            <strong>{{ item.nombre }}</strong><br>
            Cantidad: {{ item.cantidad }}
        </div>
        <button hx-get="{% url 'eliminar-item-solicitud-api' key %}" hx-target="#SolicitudModalContent"
            hx-swap="innerHTML" class="btn btn-danger">
            <i class="bi bi-trash"></i> Eliminar
        </button>
    </div>
    {% empty %}
    <div class="rounded-2 p-4" style="background-color: rgba(127.5, 127.5, 127.5, 0.5);">
        <p class="text-center fs-5 fw-semibold m-0">No hay productos en la solicitud.</p>
    </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-around align-items-center mt-3">
    {% if solicitud %}
    <form method="post" action="{% url 'confirmar-solicitud-api' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success-sdcn rounded-0 fw-semibold d-flex gap-2">
            <i class="bi bi-check-circle"></i>
            Crear Solicitud
        </button>
    </form>
    {% endif %}
    {% if solicitud %}
    <button type="button" hx-get="{% url 'vaciar-carrito-api' %}" hx-target="#SolicitudModalContent" hx-swap="innerHTML"
        class="btn btn-outline-danger-sdcn rounded-0 fw-semibold d-flex gap-2">
        <i class="bi bi-trash3"></i>Vaciar carrito
    </button>
    {% endif %}



</div>
<div class="position-relative w-100" style="height: 2rem;">
    <p class="position-absolute end-0 bottom-0 text-muted m-0">{{ fecha }}</p>
</div>