<div class="d-flex flex-column align-items-center mb-4">
    <i class="bi bi-boxes display-6"></i>
    <h1 class="mb-0">¡Bienvenido!</h1>
    <small class="small fw-bolder text-muted m-0">Por favor, introduzca su usuario.</small>
</div>
<form class="d-flex flex-column" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="mb-2">
        <label for="username" class="form-label fw-bolder mb-0">Usuario</label>
        <input type="text" class="form-control bg-body" id="username" name="username" placeholder="ej: 'aramirez'" required>
    </div>
    <div class="d-flex justify-content-end mb-3">
        <a class="link-primary cursor-pointer" hx-get="{% url 'login-form' %}" hx-target="#container"
            hx-swap="innerHTML" hx-trigger="click">¿Iniciar sesión?</a>
    </div>
    <button class="btn btn-black mt-2 mx-auto" type="submit">
        <i class="bi bi-send me-2"></i>Enviar</button>
</form>