<a href="{% url 'home' %}"
                class="btn btn-sm {% if 'Inicio' in title_page %}btn-black{% else %}btn-ghost-black border-0{% endif %} d-flex align-items-center text-decoration-none rounded gap-3 text-nowrap overflow-hidden px-9">
                <i class="bi bi-house-door fs-5"></i> Inicio
            </a>
            <div class="w-100 overflow-hidden">
                <button
                    class="btn btn-sm {% if 'inventario' in request.path %}btn-black rounded-bottom-0 {% else %}btn-ghost-black border-0 {% endif %}d-flex align-items-center justify-content-between w-100 text-decoration-none rounded gap-3 text-nowrap overflow-hidden px-9"
                    type="button" data-bs-toggle="collapse" data-bs-target="#inventario-collapse" aria-expanded="false"
                    aria-controls="inventario-collapse">
                    <span class="d-flex align-items-center gap-3"><i class="bi bi-folder fs-5"></i> Inventario</span>
                    <i class="bi bi-chevron-down d-flex"></i>
                </button>
                <div class="collapse multi-collapse border-start border-secondary-subtle rounded-0 p-0 {% if 'inventario' in request.path %}show{% endif %}"
                    id="inventario-collapse">
                    <a href="{% url 'revisar-inventario' %}"
                        class="btn btn-sm btn-outline-black {% if 'revisar-inventario' in request.path %}active {% endif %}border-0 rounded-0 w-100 d-flex align-items-center flex-row gap-4 text-start text-nowrap overflow-hidden px-9">
                        <i class="bi bi-file-check"></i> Revisar inventario
                    </a>
                    <a href="{% url 'list-inventario' %}"
                        class="btn btn-sm btn-outline-black {% if 'list-inventario' in request.path %}active {% endif %}border-0 rounded-0 w-100 d-flex align-items-center flex-row gap-4 text-start text-nowrap overflow-hidden px-9">
                        <i class="bi bi-list"></i> Listar inventarios
                    </a>
                    <a href="{% url 'sin-local-activos' %}"
                        class="btn btn-sm btn-outline-black {% if 'sin-local-activos' in request.path %}active {% endif %}border-0 rounded-0 w-100 d-flex align-items-center flex-row gap-4 text-start text-nowrap overflow-hidden px-9">
                        <i class="bi bi-archive"></i> Activos sin local
                    </a>
                </div>
            </div>

            <div class="w-100 overflow-hidden">
                <button
                    class="btn btn-sm {% if 'productos' in request.path %}btn-black rounded-bottom-0 {% else %}btn-ghost-black border-0 {% endif %}d-flex align-items-center justify-content-between w-100 text-decoration-none rounded gap-3 text-nowrap overflow-hidden px-9"
                    type="button" data-bs-toggle="collapse" data-bs-target="#productos-collapse" aria-expanded="false"
                    aria-controls="productos-collapse">
                    <span class="d-flex align-items-center gap-3"><i class="bi bi-box fs-5"></i> Productos</span>
                    <i class="bi bi-chevron-down d-flex"></i>
                </button>
                <div class="collapse multi-collapse border-start border-secondary-subtle rounded-0 p-0 {% if 'productos' in request.path %}show{% endif %}"
                    id="productos-collapse">
                    {% if request.user.tipo_user == 'Económico' %}
                    <a href="{% url 'resumen-productos' %}"
                        class="btn btn-sm btn-outline-black {% if 'resumen_productos' in request.path %}active {% endif %}border-0 rounded-0 w-100 d-flex align-items-center flex-row gap-4 text-start text-nowrap overflow-hidden px-9">
                        <i class="bi bi-card-text"></i> Resumen
                    </a>
                    <a href="{% url 'create-productos' %}"
                        class="btn btn-sm btn-outline-black {% if 'create-productos' in request.path %}active {% endif %}border-0 rounded-0 w-100 d-flex align-items-center flex-row gap-4 text-start text-nowrap overflow-hidden px-9">
                        <i class="bi bi-plus-circle"></i> Agregar producto
                    </a>
                    <a href="{% url 'list-productos' %}"
                        class="btn btn-sm btn-outline-black {% if 'list-productos' in request.path %}active {% endif %}border-0 rounded-0 w-100 d-flex align-items-center flex-row gap-4 text-start text-nowrap overflow-hidden px-9">
                        <i class="bi bi-list"></i> Listar productos
                    </a>
                    <a href="{% url 'productos-solicitados' %}"
                        class="btn btn-sm btn-outline-black {% if 'solicitados' in request.path %}active {% endif %}border-0 rounded-0 w-100 d-flex align-items-center flex-row gap-4 text-start text-nowrap overflow-hidden px-9">
                        <i class="bi bi-file-earmark-post"></i> Productos solicitados
                    </a>
                    {% else %}
                    <a href="{% url 'solicitar-productos' %}"
                        class="btn btn-sm btn-outline-black {% if 'solicitar-productos' in request.path %}active {% endif %}border-0 rounded-0 w-100 d-flex align-items-center flex-row gap-4 text-start text-nowrap overflow-hidden px-9">
                        <i class="bi bi-file-earmark-arrow-up"></i> Solicitar productos
                    </a>
                    <a href="{% url 'solicitudes-productos-tabla' %}"
                        class="btn btn-sm btn-outline-black {% if 'solicitudes-productos' in request.path %}active {% endif %}border-0 rounded-0 w-100 d-flex align-items-center flex-row gap-4 text-start text-nowrap overflow-hidden px-9">
                        <i class="bi bi-file-earmark-text"></i> Solicitudes
                    </a>
                    {% endif %}
                </div>
            </div>


            {% if request.user.tipo_user == 'Económico' %}
            <div class="w-100 overflow-hidden">
                <button
                    class="btn btn-sm {% if 'proveedores' in request.path %}btn-black rounded-bottom-0 {% else %}btn-ghost-black border-0 {% endif %}d-flex align-items-center w-100 text-decoration-none rounded gap-3 text-nowrap overflow-hidden px-9"
                    type="button" data-bs-toggle="collapse" data-bs-target="#proveedores-collapse" aria-expanded="false"
                    aria-controls="proveedores-collapse">
                    <i class="bi bi-truck fs-5"></i> Proveedores
                </button>
                <div class="collapse multi-collapse border-start border-secondary-subtle rounded-0 p-0 {% if 'proveedores' in request.path %}show{% endif %}"
                    id="proveedores-collapse">
                    <a href="{% url 'resumen-proveedores' %}"
                        class="btn btn-sm btn-outline-black {% if 'resumen-proveedores' in request.path %}active {% endif %}border-0 rounded-0 w-100 d-flex align-items-center flex-row gap-4 text-start text-nowrap overflow-hidden px-9">
                        <i class="bi bi-card-text"></i> Resumen
                    </a>
                    <a href="{% url 'create-proveedores' %}"
                        class="btn btn-sm btn-outline-black {% if 'create-proveedores' in request.path %}active {% endif %}border-0 rounded-0 w-100 d-flex align-items-center flex-row gap-4 text-start text-nowrap overflow-hidden px-9">
                        <i class="bi bi-plus-circle"></i> Agregar proveedor
                    </a>
                    <a href="{% url 'list-proveedores' %}"
                        class="btn btn-sm btn-outline-black {% if 'list-proveedores' in request.path %}active {% endif %}border-0 rounded-0 w-100 d-flex align-items-center flex-row gap-4 text-start text-nowrap overflow-hidden px-9">
                        <i class="bi bi-list"></i> Listar proveedores
                    </a>
                </div>
            </div>
            {% endif %}
            <a href="{% url 'reportes' %}"
                class="btn btn-sm {% if 'Reportes' in title_page %}btn-black{% else %}btn-ghost-black border-0{% endif %} d-flex align-items-center text-decoration-none rounded gap-3 text-nowrap overflow-hidden px-9">
                <i class="bi bi-clipboard-data fs-5"></i> Reportes
            </a>