<div class="container position-relative">
    <h2 class="text-center my-3">Reporte de Valoración Económica</h2>
    <hr class="my-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 p-2">
        {% for ubicacion in ubicaciones %}
        <div class="col">
            <div class="h-100 border border-2 border-secondary shadow rounded bg-secondary-subtle-hover p-3 transition-200 d-flex justify-content-start flex-column position-relative">
                <div class="bg-success bg-opacity-5 border border-1 border-success rounded mb-1">
                    <p class="text-success fw-semibold fs-4 m-0"><i class="bi bi-arrow-right-short"></i>{{ ubicacion.coste }} CUP</p>
                </div>
                <div class="h-100 border border-1 border-secondary-subtle bg-secondary bg-opacity-5 rounded d-flex align-items-center">
                    <span class="fs-bold fs-5 text-center w-100 text-muted m-2">{{ ubicacion.nombre }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr class="my-3">
    <div class="container fs-3 d-flex flex-column">
        <span class="fw-bold">Total:</span>
        <span class="text-success">= {{ total_coste }} CUP</span>
        <span class="text-success d-flex align-items-center">
            <div class="d-flex flex-column">
                <span style="line-height: 5px;">~</span>
                <span style="line-height: 5px;">~</span>
            </div> {{ usd }} USD</span>
    </div>
    <i class="bi bi-cash position-absolute bottom-0 end-0 display-1" style="font-size: 20rem; transform: rotate(-45deg) translate(-1rem, 7rem); color: #7878781c !important; z-index: 1;"></i>
</div>
