html[data-bs-theme="dark"] .shadow{
    box-shadow: 0 0.5rem 1rem rgba(102, 102, 102, 0.15) !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.highcharts-credits{
    display: none;
}
#btn-theme{
    width: 2.5rem;
    height: 2.5rem;
}
.pointer-events-none{
    pointer-events: none;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-not-allowed{
    cursor: not-allowed;
}
.z-index-overall{
    z-index: 1055;
}
.transform-y-move:hover{
    transform: translateY(-5px);
}
.hover-secondary-subtle:hover{
    background-color: hsla(0, 0%, 50%, 0.5);
}
.transition-300{
    transition: all 300ms ease-in-out;
}
.transition-250{
    transition: all 250ms ease-in-out;
}
.transition-200{
    transition: all 200ms ease-in-out;
}
.resize-none{
    resize: none;
}

select{
    cursor: pointer;
}
select:hover{
    box-shadow: 0 0 0 .25rem rgb(125 125 125 / 25%) !important;
}
select:focus{
    border: solid .15rem rgb(127 127 127) !important;
    box-shadow: 0 0 0 .25rem rgb(125 125 125 / 25%) !important;
}

body{
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.active>.page-link, .page-link.active {
    background-color: var(--bs-black) !important;
    border-color: var(--bs-secondary-border-subtle) !important;
    color: white;
}
.active>.page-link:focus, .active>.page-link:hover{
    color: white;
}
.page-link:focus {
    z-index: 3;
    color: var(--bs-emphasis-color);
    background-color: var(--bs-pagination-focus-bg);
    outline: 0;
    box-shadow: 0 0 0 .1rem rgb(128 128 128 / 50%) !important;
}
.page-link {
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    color: var(--bs-emphasis-color);
    text-decoration: none;
    background-color: transparent;
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-hover-border-color) !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.page-link:hover{
    color: var(--bs-emphasis-color) !important;
    background-color: var(--bs-gray-100) !important;
    border-color: var(--bs-secondary-text-emphasis) !important;
    text-shadow: 1px 1px 8px black !important;
}

.form-control {
    border: .15rem solid var(--bs-border-color) !important;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: solid .15rem rgb(127 127 127) !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(125 125 125 / 25%) !important;
}
.form-control:hover {
    box-shadow: 0 0 0 .25rem rgb(125 125 125 / 25%) !important;
}

@media (min-width: 700px) {
    div[name="nav-user"] {
        display: none;
    }
}
.min-width-7{
    min-width: 7rem;
}
#user-img:hover{
    box-shadow: 0 0 1rem rgb(102 102 102) !important;
}

ul.dropdown-menu.bg-invert.p-2.show{
    transform: translate(-50px, 42px) !important;
}
.tooltip-inner {
  white-space: pre-line;
  text-align: left;
}
.modal{
    backdrop-filter: blur(6px) brightness(0.3);
}
.card:hover{
    box-shadow: 0 0 1rem rgb(102 102 102) !important;
}
.papel-carta{
    width: 8.5in;
    height: 11in;
    box-sizing: border-box;
    page-break-after: always;
    position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    background-color: rgba(112, 112, 112, 0.336);
    border-radius: 1rem;
    padding: .35rem;
    border: 1px solid rgb(122, 122, 122);
    transition: 200ms all ease-in-out;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover{
    background-color: rgba(112, 112, 112, 0.575);
    box-shadow: 0 0 .25rem rgba(112, 112, 112, 0.575);
}
input[type="date"]::-webkit-calendar-picker-indicator:active{
    background-color: rgba(73, 73, 73, 0.575);
    box-shadow: 0 0 .25rem rgba(112, 112, 112, 0.575);
    color: white;
}
.bg-secondary-subtle-hover:hover{
    background-color: var(--bs-secondary-bg-subtle) !important;
}
.bg-primary-subtle-hover:hover{
    background-color: var(--bs-primary-bg-subtle) !important;
}
.bg-success-subtle-hover:hover{
    background-color: var(--bs-success-bg-subtle) !important;
}
.bg-warning-subtle-hover:hover{
    background-color: var(--bs-warning-bg-subtle) !important;
}
.bg-info-subtle-hover:hover{
    background-color: var(--bs-info-bg-subtle) !important;
}
.bg-danger-subtle-hover:hover{
    background-color: var(--bs-danger-bg-subtle) !important;
}
/* Datables config */
.dt-column-order{
    display: none;
}
table caption{
    margin-left: .5rem;
}