<style>
    .pagina-carta {
        width: 8.5in;
        min-height: 11in;
        padding: 0.98in 1.18in;
    }
</style>
<div class="overflow-hidden border border-1 border-secondary-subtle m-auto position-relative"
    style="padding: 2.5cm 3cm; width: 8.5in;">
    <div id="XLR8">
        <h2 class="text-center mb-4" id="title-carta">{{ ubicacion }}</h2>
        <table class="table table-bordered border-black table-striped" id="tabla-inventario">
            <thead>
                <tr>
                    <th class="text-center">No</th>
                    <th>Medio</th>
                    <th>Cantidad</th>
                    <th>Código</th>
                    <th>Número de Serie</th>
                </tr>
            </thead>
            <tbody>
                {% if grouped_activo_list %}
                {% for group in grouped_activo_list %}
                <tr>
                    <td>{{ group.no }}</td>
                    <td>{{ group.producto_nombre }}</td>
                    <td>{{ group.cantidad }}</td>
                    <td>{{ group.codigos|safe }}</td>
                    <td>{{ group.seriales|safe }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="text-center text-muted">No hay activos disponibles.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="text-center text-muted position-absolute top-0 end-0 m-2">
        <p class="lh-1 m-0">Responsable de Área</p>
        <p class="">{{ responsable_area }}</p>
    </div>
    <i class="bi bi-folder position-absolute top-0 start-0"
        style="font-size: 35rem; transform: rotate(-45deg) translate(7rem, -6rem); color: #7878781c !important;"></i>
    <div class="position-absolute top-0 d-flex flex-row align-items-center border-top-0 border border-3 border-secondary overflow-hidden">
        <button class="btn btn-ghost-black rounded-0 border-0 w-100" type="button" data-bs-toggle-tooltip="tooltip"
            data-bs-title="Imprimir" id="print-modal-button" onclick="generarPaginas()">
            <i class="bi bi-printer"></i>
        </button>
        <hr class="m-0 w-100 border border-2 border-secondary">
        <button class="btn btn-ghost-black rounded-0 border-0 w-100" type="button" data-bs-toggle-tooltip="tooltip"
            data-bs-title="Crear PDF" id="pdf-modal-button">
            <i class="bi bi-file-pdf"></i>
        </button>
        <hr class="m-0 w-100 border border-2 border-secondary">
        <button class="btn btn-ghost-black rounded-0 border-0 w-100" type="button" data-bs-toggle-tooltip="tooltip"
            data-bs-title="Crear imágenes" id="img-modal-button">
            <i class="bi bi-image"></i>
        </button>
    </div>
</div>