<style>
    .pagina-carta {
        width: 8.5in;
        min-height: 11in;
        padding: 0.98in 1.18in;
    }
    input[type="checkbox"]:checked input[type="checkbox"]<td<tr{
        background-color: blue;
    }
</style>
<div class="overflow-hidden border border-1 border-secondary-subtle m-auto position-relative" style="padding: 2.5cm 3cm; width: 8.5in;">
    <div class="position-relative" style="z-index: 1500;">
        <h2 class="text-center mb-4" id="title-carta">{{ ubicacion }}</h2>
        <table class="table table-bordered border-black table-striped" id="tabla-inventario">
            <thead>
                <tr>
                    <th class="text-center"><i class="bi bi-check-circle"></i></th>
                    <th class="text-center">No</th>
                    <th>Medio</th>
                    <th>Código</th>
                    <th>Número de Serie</th>
                </tr>
            </thead>
            <tbody>
                {% if grouped_activo_list %}
                {% for group in grouped_activo_list %}
                <tr>
                    <td>
                        <input class="form-check m-auto" type="checkbox" style="width: 1.25rem;">
                    </td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ group.producto.nombre }}</td>
                    <td>{{ group.codigo_interno }}</td>
                    <td>{% if group.serial_number == None %}Sin número de serie{% else %}{{ group.serial_number }}{% endif %}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="text-center text-muted">No hay activos disponibles.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <i class="bi bi-folder position-absolute top-0 start-0"
        style="font-size: 35rem; transform: rotate(-45deg) translate(7rem, -6rem); color: #7878781c !important;"></i>
</div>
<div id="contenedor"></div>
<script>
    const title = document.getElementById('title-carta');
    var tabla = document.getElementById('tabla-inventario');
    var header = tabla.children[0].children;
    var body = tabla.children[1].children;
    const responsable_area = '<div class="text-center text-muted position-absolute top-0 end-0 m-2"><p class="lh-1 m-0">Responsable de Área</p><p class="">{{ responsable_area }}</p></div>';
    const icon_pagina = '<i class="bi bi-folder position-absolute top-0 start-0" style="font-size: 35rem; transform: rotate(-45deg) translate(7rem, -6rem); color: #7878781c !important;"></i>';
    
    
    // creo la pagina 
    // le añado el titulo
    // le añado el head
    
    const carta_util_height = parseFloat(carta_height - margen_y);

    var header_list = Array.from(header);
    var body_list = Array.from(body);
    var list_elements = header_list.concat(body_list);
    list_elements.unshift(title);
    var index = -1;
    
    
    do{
        index++
        list_elements.shift();

    }while(x < carta_util_height)
    
    
    
    // crea funcion para hacer pagina
    function crearPagina(id_pagina, alto_restante, body_restante) {
        let carta_pagina = document.createElement("div");
        let carta_interior = document.createElement("div");

        // aqui va el codigo para empezar a introducirle al div
        
        
        
        
        
        
        
        carta_pagina.append(carta_interior);
        carta_pagina.className = "pagina-carta overflow-hidden border border-1 border-secondary-subtle m-auto my-3 position-relative shadow";
        carta_pagina.id = "pagina" + id_pagina;
        carta_pagina.innerHTML = responsable_area + icon_pagina + `<div class="text-center text-muted position-absolute bottom-0 end-0 me-4 mb-3"><p class="">${id_pagina}</p></div>`;
        document.getElementById("contenedor").append(carta_pagina);
        return 0;
    }


</script>