<style>
    .pagina-carta {
        width: 8.5in;
        min-height: 11in;
        padding: 0.98in 1.18in;
    }
    input[type="checkbox"]:checked input[type="checkbox"]<td<tr{
        background-color: blue;
    }
</style>
<div class="overflow-hidden border border-1 border-secondary-subtle m-auto position-relative" style="padding: 2.5cm 3cm; width: 8.5in;">
    <div class="position-relative" style="z-index: 1500;">
        <div class="w-100 p-2 text-center mb-3" id="text-help"></div>
        <h2 class="text-center mb-4" id="title-carta">{{ ubicacion }}</h2>
        <table class="table table-bordered border-black table-striped" id="tabla-inventario">
            <thead>
                <tr>
                    <th class="text-center"><i class="bi bi-check-circle"></i></th>
                    <th class="text-center">No</th>
                    <th>Medio</th>
                    <th>Código</th>
                    <th>Número de Serie</th>
                </tr>
            </thead>
            <tbody>
                {% if grouped_activo_list %}
                {% for group in grouped_activo_list %}
                <tr>
                    <td>
                        <input class="form-check m-auto" type="checkbox" style="width: 1.25rem;">
                    </td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ group.producto.nombre }}</td>
                    <td>{{ group.codigo_interno }}</td>
                    <td>{% if group.serial_number == None %}Sin número de serie{% else %}{{ group.serial_number }}{% endif %}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" class="text-center text-muted">No hay activos disponibles.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="w-100 d-flex flex-column justify-content-center align-items-center mb-3 gap-3">
        <button class="btn rounded-0 transition-200" type="button" id="successButton" style="opacity: 0;"><i class="bi bi-check-circle"></i> Aceptar</button>
    </div>
    <i class="bi bi-folder position-absolute top-0 start-0"
        style="font-size: 35rem; transform: rotate(-45deg) translate(7rem, -6rem); color: #7878781c !important; z-index: -1;"></i>
</div>
<script>
    // Variable para mantener referencia a los listeners
    let checkboxListeners = [];

    // Función para eliminar listeners antiguos
    function removeCheckboxListeners() {
        checkboxListeners.forEach(({ element, listener }) => {
            element.removeEventListener('change', listener);
        });
        checkboxListeners = [];
    }

    // Función para verificar el estado de los checkboxes
    function checkCheckboxes() {
        const successButton = document.getElementById('successButton');
        const text_help = document.getElementById('text-help');
        let allChecked = true;

        document.querySelectorAll('#tabla-inventario tbody input[type="checkbox"]').forEach(checkbox => {
            if (!checkbox.checked) {
                allChecked = false;
            }
        });

        if (allChecked) {
            button_help_span(text_help, successButton, "<span class='text-success p-2 bg-success-subtle border border-2 border-success'><i class='bi bi-check-circle'></i> Revisión Completa</span>", false, "btn-outline-success-sdcn", "btn-outline-secondary");
        } else {
            button_help_span(text_help, successButton, "<span class='text-danger p-2 bg-danger-subtle border border-2 border-danger'><i class='bi bi-x-circle'></i> Faltan activos</span>", true, "btn-outline-secondary", "btn-outline-success-sdcn");
        }
    }

    function button_help_span(text_help, button, inner, bolean, add, remove){
        text_help.innerHTML = inner;
        button.disabled = bolean;
        button.classList.add(add);
        button.classList.remove(remove);
        button.style.opacity = bolean ? '0' : '1';
        bolean ? button.removeAttribute("data-bs-dismiss") : button.setAttribute("data-bs-dismiss","modal");
    }

    // Función para agregar nuevos listeners
    function addCheckboxListeners() {
        document.querySelectorAll('#tabla-inventario tbody input[type="checkbox"]').forEach(checkbox => {
            const listener = () => checkCheckboxes();
            checkbox.addEventListener('change', listener);
            checkboxListeners.push({ element: checkbox, listener });
        });

        checkCheckboxes();
    }

    // Llamar a addCheckboxListeners cada vez que se carga la plantilla
    document.body.addEventListener('htmx:afterSwap', function(evt) {
        if (evt.detail.target.id === 'RevisarInventarioModalContent') {
            removeCheckboxListeners();
            addCheckboxListeners();
        }
    });

    // Inicializar listeners al cargar la página
    addCheckboxListeners();


</script>