{% extends 'dashboard_template.html' %}
{% load static %}
{% block content_dashboard %}
<!-- <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.3.1/b-3.2.3/b-html5-3.2.3/b-print-3.2.3/date-1.5.5/r-3.0.4/sc-2.4.3/datatables.min.css" rel="stylesheet" integrity="sha384-AHdXImV07k5XJYMyGLDf7LhYawou4SZouf2KCm2KfuRB1DubOpbvF57wzhPMCsY8" crossorigin="anonymous"> -->
<link href="{% static 'libs/DataTables/datatables.min.css' %}" rel="stylesheet">

<style>
    .badge {
        width: 5rem;
    }
</style>

<!-- Tabla -->
<div class="d-flex justify-content-end align-items-center mb-4">
    <button type="button" class="btn btn-black fw-semibold d-flex align-items-center gap-2">
        <i class="bi bi-plus-circle"></i> Nuevo producto
    </button>
</div>
<table class="table table-hover table-striped table-hover shadow-sm border border-1 border-secondary-subtle rounded-2"
    id="solicitudes-table" style="max-width: 65rem;">
    <caption>Listado de {{ title_page }}</caption>
    <thead>
        <tr class="table-secondary">
            <th scope="col" width="8rem">ID</th>
            <th scope="col">Solicitante</th>
            <th scope="col" width="12rem">Área</th>
            <th scope="col" width="5rem">Cant. items</th>
            <th scope="col" width="15rem">Fecha creación</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody class="">
        {% for ax in solicitudes %}
        {% if not ax.estado == 'rechazada' and not ax.estado == 'aprobada' %}
        <tr class="border border-neutral-300">
            <td class="text-center">{{ ax.id }}</td>
            <td class="">{{ ax.usuario.first_name }} {{ ax.usuario.last_name }}</td>
            <td class="">{{ ax.usuario.area.nombre }}</td>
            <td class="">{{ ax.items|length }}</td>
            <td class="">{{ ax.fecha_creacion }}</td>
            <td class="">
                <button type="button" class="btn btn-outline-info" data-bs-toggle-tooltip="tooltip"
                    data-bs-title="Analizar Solicitud" data-bs-toggle="modal" data-bs-target="#SolicitudModal"
                    hx-get="/productos/ver-solicitud-creada-api/{{ ax.id }}" hx-target="#SolicitudContent"
                    hx-swap="innerHTML" hx-trigger="click">
                    <i class="bi bi-eye"></i>
                </button>
                <a class="btn btn-outline-success-sdcn"
                    href="{% url 'aprobar-solicitud-api' ax.id %}" data-bs-toggle-tooltip="tooltip"
                    data-bs-title="Aprobar">
                    <i class="bi bi-check-circle"></i>
                </a>
                <a class="btn btn-outline-danger-sdcn"
                    href="{% url 'rechazar-solicitud-api' ax.id %}" data-bs-toggle-tooltip="tooltip"
                    data-bs-title="Rechazar">
                    <i class="bi bi-x-circle"></i>
                </a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}

    </tbody>
</table>

<div class="modal fade" id="SolicitudModal" tabindex="-1" aria-labelledby="SolicitudLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content overflow-hidden bg-invert shadow p-4">
            <div class="p-3 z-index-overall" id="SolicitudContent">
                <!--  EDITAR  -->
                <!--  EDITAR  -->
            </div>
            <i class="bi bi-box position-absolute top-0 start-0"
                style="font-size: 28rem; transform: rotate(-45deg) translate(5rem, -7rem); color: #7878781c !important; z-index: 1;"></i>
        </div>
    </div>
</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script> -->
<script src="{% static 'libs/DataTables/pdfmake.min.js' %}"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script> -->
<script src="{% static 'libs/DataTables/vfs_fonts.js' %}"></script>

<!-- <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.3.1/b-3.2.3/b-html5-3.2.3/b-print-3.2.3/date-1.5.5/r-3.0.4/sc-2.4.3/datatables.min.js" integrity="sha384-ekYQxP5UHe08BFvtvtcrjLc2YsPeISDgLZAqLtdHaJndItMrJ50Db356qMcHx/sH" crossorigin="anonymous"></script> -->
<script src="{% static 'libs/DataTables/datatables.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#solicitudes-table').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.3.1/i18n/es-ES.json',
            },
            responsive: true,
        });
    });
</script>
{% endblock content_dashboard %}