{% extends "dashboard_template.html" %}
{% load static %}

{% block content_dashboard %}
<style>
    .badge {
        width: 5rem;
    }
</style>

<!-- Tabla -->
<div class="d-flex justify-content-end align-items-center mb-4">
    <a href="{% url 'solicitar-productos' %}" class="btn btn-sm btn-black fw-semibold d-flex align-items-center gap-2">
        <i class="bi bi-plus-circle"></i> Nueva Solicitud
    </a>
</div>
<div class="modal fade" id="ProductosSolicitudModal" tabindex="-1" aria-labelledby="ProductosSolicitudLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content overflow-hidden bg-invert shadow p-4">
            <div class="p-3 z-index-overall" id="ProductosSolicitudContent">
                <!--  EDITAR  -->
                <!--  EDITAR  -->
            </div>
            <i class="bi bi-box position-absolute top-0 start-0"
                style="font-size: 28rem; transform: rotate(-45deg) translate(5rem, -7rem); color: #7878781c !important; z-index: 1;"></i>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap gap-4 justify-content-center mt-4">
    {% for ax in solicitudes %}
    <div class="card shadow-sm border border-secondary-subtle bg-{% if ax.estado == 'Pendiente' %}black{% elif ax.estado == 'Aprobada' %}success{% else %}danger{% endif %}-subtle rounded-3 transition-200" style="width: 20rem; min-width: 18rem; position: relative;">
        <div class="card-body d-flex flex-column gap-2">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <span class="badge rounded-pill py-2 text-white bg-{% if ax.estado == 'Pendiente' %}black{% elif ax.estado == 'Aprobada' %}success{% else %}danger{% endif %}">
                    {{ ax.estado|capfirst }}
                </span>
            </div>
            <div class="">
                <span class="fw-semibold">Cantidad de productos:</span>
                <span>{{ ax.items|length }}</span>
            </div>
            <div class="">
                <span class="fw-semibold">Fecha de creación:</span>
                <span>{{ ax.fecha_creacion }}</span>
            </div>
            <hr class="m-0">
            <div class="d-flex justify-content-around mt-2">
                <button class="btn btn-sm btn-outline-info" data-bs-toggle-tooltip="tooltip"
                    data-bs-title="Visualizar productos Solicitados" data-bs-toggle="modal"
                    data-bs-target="#ProductosSolicitudModal" hx-get="/productos/ver-solicitud-creada-api/{{ ax.id }}"
                    hx-target="#ProductosSolicitudContent" hx-swap="innerHTML" hx-trigger="click">
                    <i class="bi bi-eye"></i>
                </button>
                <a class="btn btn-sm btn-outline-danger-sdcn" data-bs-toggle-tooltip="tooltip"
                    data-bs-title="Eliminar lista de productos Solicitados"
                    href="{% url 'eliminar-solicitudes-productos-creados' ax.id %}">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock content_dashboard %}