{% extends "dashboard_template.html" %}
{% load static %}

{% block content_dashboard %}
<!-- <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.3.1/b-3.2.3/b-html5-3.2.3/b-print-3.2.3/date-1.5.5/r-3.0.4/sc-2.4.3/datatables.min.css" rel="stylesheet" integrity="sha384-AHdXImV07k5XJYMyGLDf7LhYawou4SZouf2KCm2KfuRB1DubOpbvF57wzhPMCsY8" crossorigin="anonymous"> -->
<link href="{% static 'libs/DataTables/datatables.min.css' %}" rel="stylesheet">

<style>
    .badge {
        width: 5rem;
    }
</style>

<!-- Tabla -->
<div class="d-flex justify-content-end align-items-center mb-4">
    <a href="{% url 'solicitar-productos' %}" class="btn btn-black fw-semibold d-flex align-items-center gap-2">
        <i class="bi bi-plus-circle"></i> Nueva Solicitud
    </a>
</div>
<table class="table table-hover table-striped table-hover shadow-sm border border-1 border-secondary-subtle rounded-2" id="solicitudes-table">
    <caption>Listado de {{ title_page }}</caption>
    <thead>
        <tr class="table-secondary">
            <th scope="col">ID</th>
            <th scope="col">Cant. Items</th>
            <th scope="col">Fecha de Creacion</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody class="">
        {% for ax in solicitudes %}
        <tr class="border border-neutral-300">
            <td class="text-center">{{ ax.id }}</td>
            <td class="">{{ ax.usuario }}</td>
            <td class="">{{ ax.items.len }}</td>
            <td class="">{{ ax.fecha_creacion }}</td>
            <td class="">
                <span class="badge bg-black rounded-pill py-2 text-white">{{ ax.estado }}</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script> -->
<script src="{% static 'libs/DataTables/pdfmake.min.js' %}"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script> -->
<script src="{% static 'libs/DataTables/vfs_fonts.js' %}"></script>

<!-- <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.3.1/b-3.2.3/b-html5-3.2.3/b-print-3.2.3/date-1.5.5/r-3.0.4/sc-2.4.3/datatables.min.js" integrity="sha384-ekYQxP5UHe08BFvtvtcrjLc2YsPeISDgLZAqLtdHaJndItMrJ50Db356qMcHx/sH" crossorigin="anonymous"></script> -->
<script src="{% static 'libs/DataTables/datatables.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#solicitudes-table').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.3.1/i18n/es-ES.json',
            },
            responsive: true,
        });
      });
</script>
{% endblock content_dashboard %}